/* body{
    background: url('images.webp') no-repeat top left cover;
     background : url('download.jpeg') no-repeat center fixed;
    } */
h1{
    color : blue;
}
p{
            color: blue;
        }