body {
  margin: 10;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #f8f2f2;
}

.container {
  display: grid;
  grid-gap: 15px;
  padding: 20px;
  margin-top: 100px;
}

.logo {
  grid-area: logo;
  background: #b59595;
  color: white;
  padding: 20px;
  text-align: center;
}

.header {
  grid-area: header;
  background: #c85555;
  color: white;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.text-area {
  grid-area: text;
  background: #ddd;
  padding: 20px;
  margin: 10px;
  text-align: center;
}



.box {
  background: #e9b9b9;
  padding: 150px;
  text-align: center;
  margin: 10px;
  color: white;
}

.footer {
  grid-area: footer;
  background: #b4a1ec;
  color: white;
  padding: 20px;
  text-align: center;
}

@media (min-width: 600px) {
  .container {
    grid-template-areas:
      "logo logo"
      "header header"
      "text text"
      "box1 box2 box3"
      "footer footer";
  }
}